# Virtual environments
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test and coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml